.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 10px;
    gap: 10px;
}
.err-img{
  width: 70%; 
  height: 20%;   
}

.link{
    text-decoration: none;
    color: #1DA077;
    font-size: 16px;
}

.text{
    color:#1DA077;
}